<!DOCTYPE HTML>
<html lang="es">

<head>
		{% load static %}
	<title>Iniciar Sesión</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Triple Forms Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- Meta tag Keywords -->

	<!-- css files -->
	<link rel="stylesheet" href="{% static 'core/login/css/login.css'%}" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="{% static 'core/login/css/font-awesome.min.css'%}" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

	<!-- web-fonts -->
	<link href="{% static 'core/login///fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext'%}"
	 rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>		
		<h1 class="header-w3ls">Iniciar Sesión</h1>
			<div class="porduct-order-agile" >
					<form action="cliente/menuCliente" method="post">
							{% csrf_token %}
					   <div class="order-list">
								<div class="form-order">
									{% csrf_token %}
									<h3>Nombre de usuario</h3>
									<div class="form-left-to-w3l">				
										<input type="text" placeholder="Nombre de usuario" name="nombre_usuario" required />
									</div>
									<h3>Contraseña</h3>
									<div class="form-left-to-w3l">
										<input type="password" placeholder="Contraseña" name="password" required />
									</div>
									<div class="main">
											<button type="submit" class="btn submit">Iniciar Sesión</button>
											<a href="{% url 'cliente:nuevoCliente' %}">
											<button type="submit" class="btn submit">Registrar cliente</button></a>
									</div>
								</div>
						</div>
					</form>
				</div>
			<!-- //vertical tabs -->
			<div class="clear"></div>
		</div>
		

</body>

</html>