<!DOCTYPE HTML>
<html lang="es">
<head>
      {% load static %}
   <title>Administrar alquiler</title>
   <!-- Meta tag Keywords -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="UTF-8" />
   <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
   />
   <script>
   addEventListener("load", function () {
     setTimeout(hideURLbar, 0);
  }, false);

   function hideURLbar() {
     window.scrollTo(0, 1);
  }
  </script>
  <!-- Meta tag Keywords -->

  <link rel="stylesheet" href="{% static 'core/administraralquiler/css/registrarVehiculo.css'%}" type="text/css" media="all" />
  <link rel="stylesheet" href="{% static 'core/administraralquiler/css/style.css'%}" type="text/css" media="all" />

</head>

<STYLE type="text/css">
H1 { text-align: center}
</STYLE>

<body>
   <a href=""> <img src="{% static 'core/administraralquiler/images/01.jpeg'%}" width="5%" height="5%"> </a>

   <div class="porduct-order-agile">
      <form >

        <H1> Administrar alquiler </H1>

        <button type="submit" class="btn btn-primary">Finalizar alquiler</button>
        <button type="submit" class="btn btn-primary">Cancelar alquiler</button>    
     </form>  

  </body>
  </html>