<!DOCTYPE HTML>
<html lang="es">
   <head>
         {% load static %}
      <title>Editar Vehiculo</title>
      <!-- Meta tag Keywords -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8" />
      <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
         />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!-- Meta tag Keywords -->
      <!-- css files -->
      <link rel="stylesheet" href="{% static 'core/editarvehiculo/css/registrarVehiculo.css'%}" type="text/css" media="all" />
      <!-- Style-CSS -->
      <!-- Font-Awesome-Icons-CSS -->
      <!-- //css files -->
      <!-- web-fonts -->
      <link href="//{% static 'core/editarvehiculo/fonts.googleapis.com/css?family=Ubuntu:400,500'%}" rel="stylesheet">
      <!-- //web-fonts -->
   </head>
   <body>
      <div>
         <a href="{% static 'core/editarvehiculo/index.html'%}"><img src="{% static 'core/editarvehiculo/images/flechaIzquierda.png'%}" width="5%" height="5%"></a>
      </div>
      <!-- title -->
      <h1 class="header-w3ls">Editar/Eliminar Vehiculo</h1>
      <!-- //title -->
      <!-- content -->
      <div class="porduct-order-agile">
         <form action="#" method="post">
            <div class="order-list">
                  <p>Ingresar nuevo vehiculo</p>
                  <div class="main">
                     <div class="form-order">
                        <select class="form-control buttom" required>
                           <option value="">Marca
                           </option>
                           <option value="hyundai">Hyundai</option>                              <option value="audi">Audi</option>
                           <option value="bmw">BMW</option>
                        </select>
                     </div>
                     <div class="form-order">
                        <select class="form-control buttom" required>
                           <option value="">Tipo de vehiculo
                           </option>
                           <option value="camioneta">Camioneta</option>
                           <option value="deportivo">Deportivo</option>
                           <option value="pickUp">Pick-up</option>
                           <option value="todoTerreno">Todo Terreno</option>
                        </select>
                     </div>
                     <div class="form-order">
                        <select class="form-control buttom" required>
                           <option value="">Transmicion</option>
                           <option value="manual">Manual</option>
                           <option value="automatica">Automatica</option>
                        </select>
                     </div>
                  </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Año</p>
                  <input type="text" name="anio" placeholder="2019" required="">
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Número de puertas</p>
                     <input type="text" name="numPuertas" placeholder="4" required="">
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Modelo</p>
                     <input type="text" name="modelo" placeholder="Accent" required="">
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Color</p>
                     <input type="text" name="color" placeholder="Rojo" required="">
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Capacidad de personas</p>
                     <input type="text" name="capacidadPersona" placeholder="5" required="">
                     <div class="clear"></div>
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Capacidad de maletero (litros)</p>
                     <input type="text" name="capacidadMaletero" placeholder="5" required="">
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Placa</p>
                     <input type="text" name="numPlaca" placeholder="P000-000" required="">
                     <div class="clear"></div>
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Tipo de combustible</p>
                     <select class="form-control buttom" required>
                        <option value="">Tipo de combustible</option>
                        <option value="diesel">Diesel</option>
                        <option value="gasolina">Gasolina</option>
                     </select>
                  </div>
               </div>
               <div class="form-group">
                     <p>Precio diario ($)</p>
                     <input type="text" name="precioDiario" placeholder="25" required="">
                     <div class="clear"></div>
               </div>
               <div class="form-group">
                     <p>Funciones</p>
                     <textarea name="funciones" placeholder="Funciones" rows="10" cols="60" required=""></textarea>
                     <div class="clear"></div>
               </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <button type="submit" class="btn btn-primary">Cancelar</button>
         </form>
      </div>
      <!-- copyright -->
      <div class="copy">
         <p>&copy; SivarCar
         </p>
      </div>
      <!-- //copyright -->
   </body>
</html>