<!DOCTYPE HTML>
<html lang="es">
<head>
    {% load static %}
   <title>Menu Alquiler</title>
   <!-- Meta tag Keywords -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="UTF-8" />
   <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
   />
   <script>
   addEventListener("load", function () {
     setTimeout(hideURLbar, 0);
  }, false);

   function hideURLbar() {
     window.scrollTo(0, 1);
  }
  </script>
  <!-- Meta tag Keywords -->

  <!--Ruta con .css-->
      <link rel='stylesheet' href="{% static 'core/menualquiler/css/style.css'%}" type='text/css' media="all">
        

    
</head>

<STYLE type="text/css">
H1 { text-align: center}
</STYLE>

<body>
    <!--Agregando imagen-->
<a href="menuadministrador"><img src="{% static 'core/menualquiler/images/flecha.png'%}" width="5%" height="5%"></a>


   <div class="porduct-order-agile">
  

        <H1> Menu Alquiler </H1>

          <a href="registrarAlquiler"><button type="submit" class="btn submit">Nuevo Alquiler
          </button> </a>
            <a href="../devoluciondevehiculo"><button type="submit" class="btn submit">Finalizar Alquiler
          </button> </a>


    <!--   <a href="registraralquiler"> <button type="submit" class="btn btn-primary">Nuevo alquiler</button></a>
        <a href="devolucionvehiculo"><button type="submit" class="btn btn-primary">Finalizar alquiler</button> </a>-->


  </body>
  </html>