<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<title>Alquiler</title>
	<!-- Meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords"
		content="Heaven Booking Form Responsive Widget, Audio and Video players, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<script type="text/javascript">
		function confCancel() {
			var respuesta = confirm("Estas seguro que deseas Cancelar?");
			if (respuesta == true) {
				return true;
			} else {
				return false;
			}
	</script>
	<!-- Meta tags -->
	<!--stylesheets-->
	<link href="{% static 'core/registraralquiler/css/alquiler.css'%}" rel='stylesheet' type='text/css' media="all">
	<!--//style sheet end here-->

	<link href="{% static 'core/registraralquiler///fonts.googleapis.com/css?family=Barlow:300,400,500,600'%}"
		rel="stylesheet">
</head>

<body>
	<a href="index.html"><img src="{% static 'core/registraralquiler/images/flechaIzquierda.png'%}" width="5%"></a>
	<h1 class="header-w3ls">
		Alquiler</h1>
	<!--login form-->
	<div class="hotel-bothside">
		<form action="#" method="post">
			<div class="mid-cls">
				<div class="hotel-left-w3ls">
					<div class="main">
						<div class="form-order">
							<a href=""><button type="submit">Buscar</button></a>
						</div>
					</div><br>
					<div class="main">
						<div class="form-right-to-w3l">
							<p>Tipo de vehiculo</p>
							{% csrf_token %}
							{{form.tipo_Vehiculo}}
							<!--Tipo de vehiculo-->
						</div>
						<div class="form-right-to-w3l">
							<p>Tipo de transmicion</p>
							{{form.tipo_Transmicion}}
							<!--Tipo de transimicion-->
						</div>
					</div>
					<div class="main">
						<div class="form-left-to-w3l">
							<p>Marca</p>
							{{form.marca_Vehiculo}}
							<!--Marca de vehiculo-->
						</div>
						<div class="form-left-to-w3l">
							<p>Año</p>
							{{form.anio}}
							<!--Año de vehiculo-->
						</div>
					</div>
					<div class="main">
						<div class="form-left-to-w3l">
							<p>Número de puertas</p>
							{{form.numero_puertas}}
							<!--Numero de puertas-->
						</div>
						<div class="form-left-to-w3l">
							<p>Modelo</p>
							{{form.modelo_Vehiculo}}
							<!--Modelo de vehiculo-->
						</div>
					</div>
					<div class="main">
						<div class="form-left-to-w3l">
							<p>Color</p>
							{{form.color}}
							<!--Color del vehiculo-->
						</div>
						<div class="form-left-to-w3l">
							<p>Capacidad de personas</p>
							{{form.capacidad_personas}}
							<!--Capacidad de personas-->
							<div class="clear"></div>
						</div>
					</div>
					<div class="main">
						<div class="form-left-to-w3l">
							<p>Capacidad de maletero (litros)</p>
							{{form.capacidad_maletero}}
							<!--Capacidad del maletero-->
							<div class="clear"></div>
						</div>
						<div class="form-left-to-w3l">
							<p>Placa</p>
							{{form.placa}}
							<!--Numero de placa-->
							<div class="clear"></div>
						</div>
					</div>
					<div class="main">
						<div class="form-left-to-w3l">
							<p>Tipo de combustible</p>
							{{form.tipo_Combustible}}
							<!--Tipo de combustible-->
						</div>
						<div class="form-left-to-w3l">
							<p>Precio diario ($)</p>
							{{form.precio}}
							<!--Precio diario del alquiler-->
							<div class="clear"></div>
						</div>
					</div>
					<div class="form-control-w3l">
						<p>Funciones</p>
						{{form.funciones}}
						<!--Funciones del vehiculo-->
						<div class="clear"></div>
						<div class="clear"></div>

					</div>
					<div class="hotel-right-w3ls">
						<div class="main">
							<div class="form-order">
								<button type="submit">Buscar cliente</button>
							</div>
						</div><br>
						<!--Nombre-->
						<div class="form-left-to-w3l">
							<span class="fa fa-user-o" aria-hidden="true"></span>
							{{form.nombre_cliente}}
							<div class="clear"></div>
						</div>
						<!--Apellido-->
						<div class="form-left-to-w3l">
							<span class="fa fa-user-o" aria-hidden="true"></span>
							{{form.apellido_cliente}}
							<div class="clear"></div>
						</div>
						<!--Fecha de nacimiento-->
						<div class="form-left-to-w3l">
							<span class="fa fa-calendar" aria-hidden="true"></span>
							{{form.fecha_nacimiento}}
							<div class="clear"></div>
						</div>
						<!--Direccion-->
						<div class="form-left-to-w3l">
							<span class="fa fa-address-book-o" aria-hidden="true"></span>
							{{form.direccion}}
							<div class="clear"></div>
						</div>
						<!--Telefono-->
						<div class="form-left-to-w3l">
							<span class="fa fa-phone" aria-hidden="true"></span>
							{{form.telefono}}
							<div class="clear"></div>
						</div>
						<!--Dui-->
						<div class="form-left-to-w3l ">
							<span class="fa fa-id-card" aria-hidden="true"></span>
							{{form.dui}}
							<div class="clear"></div>
						</div>
						<div class="main">
							<div class="form-left-to-w3l">
								<p>Fecha de alquiler</p>
								{{form.fecha_alquiler}}
								<div class="clear"></div>
							</div>
							<div class="form-left-to-w3l">
								<p>Fecha de entrega</p>
								{{form.fecha_devolucion}}
								<div class="clear"></div>
							</div>
						</div>
						<div class="form-left-to-w3l">
							<p>Total ($)</p>
							{{form.total_pagar}}
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						<div class="btnn">
							<button type="submit">Realizar Alquiler</button><br>
							<button type="submit">Ver Seguro</button><br>
							<button type="submit" onClick='return confCancel()'>Cancelar</button><br>
						</div>
					</div>
				</div>
		</form>
	</div>
</body>

</html>