<!DOCTYPE HTML>
<html lang="es">
<head>
    {% load static %}
 <title>Seguro</title>
 <!-- Meta tag Keywords -->
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8" />
 <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
 />
 <script>
 addEventListener("load", function () {
   setTimeout(hideURLbar, 0);
 }, false);

 function hideURLbar() {
   window.scrollTo(0, 1);
 }
 </script>
 <!-- Meta tag Keywords -->

 <link rel="stylesheet" href="{% static 'core/seguro/css/registrarVehiculo.css'%}" type="text/css" media="all" />
 <link rel="stylesheet" href="{% static 'core/seguro/css/style.css'%}" type="text/css" media="all" />
 <!-- Style-CSS -->
 <!-- Font-Awesome-Icons-CSS -->
 <!-- //css files -->
 <!-- web-fonts -->
 <!-- //web-fonts -->
</head>

<STYLE type="text/css">
H1 { text-align: center}
</STYLE>

<body>
 <a href=""> <img src="{% static 'core/seguro/images/01.jpeg'%}" width="5%" height="5%"> </a>

 <div class="porduct-order-agile">
  <form >

    <div class="inner">

      <header>
        <h2>Aseguradora ACSA</h2>
      </header>
      <p>
        <br>Precio: 1000</br>
        <br>Descripcion:</br>
        Protección del patrimonio ante la responsabilidad civil por daños causados a otros,
        pérdidas totales y cobertura ante la eventualidad de que el vehículo sea robado/ hurtado o, si hay un evento tan grave en donde el vehículo no pueda ser reparado.

      </p>

    </div>
    <button type="submit" class="btn btn-primary">Aceptar</button>  
  </form>  

</body>
</html>