<html>
<head>
		{% load static %}
	<title>
		Sivar Car
	</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta charset="UTF-8" />
 <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
 />
 <script>
 addEventListener("load", function () {
 	setTimeout(hideURLbar, 0);
 }, false);

 function hideURLbar() {
 	window.
 	(0, 1);
 }
 </script>


<!--Ruta con .css-->
	    <link href="{% static 'vehiculoapp/administrarvehiculo/css/style.css'%}" rel='stylesheet' type='text/css' media="all">
</head>
<body>
	<!--Agregando imagen-->
<a href=""><img src="{% static 'vehiculoapp/administrarvehiculo/images/flecha.png'%}" width="5%" height="5%"></a>
<!--Agregando para el resaltado-->
<div class="porduct-order-agile">

  <div style="text-align:center;">
    <h2 class="error">Administrar Vehiculo</h2>
</div>


<!---SEACH--->{% csrf_token %}
 <div style="text-align:center;">
<form class="navbar-form navbar-right search-box wow fadeInDown animated" data-wow-delay=".5s">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name = "q" id = "buscador">
                   
                </div>
            </form>        
   </div>

<br>
</br>

    <div style="text-align:center;">
    <h3 class="error">Resultados de Busqueda:</h3>
</div>

<div class="container">
<br>
</br>

<br>
</br>


<br>
</br>

	<table>

		<thead>
			<tr>
				<th>Vehiculo</th>
				<th>Tipo</th>
				<th>Modelo</th>
				<th>Color</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
				{% if object_list %}
				{% for list_vehiculo in object_list %}
			<tr>
				<td>{{list_vehiculo.marca_Vehiculo}}</td>
				<td>{{list_vehiculo.tipo_Vehiculo}}</td>
				<td>{{list_vehiculo.modelo_Vehiculo}}</td>
				<td>{{list_vehiculo.color}}</td>
				<td>{{list_vehiculo.estado}}</td>
				<td>
					<a href="{% url 'vehiculo:editarVehiculo' list_vehiculo.id %}">
						<button>Editar</button>
					</a>
					<a href="{% url 'vehiculo:eliminarVehiculo' list_vehiculo.id %}">
						<button>Eliminar</button>
					</a>
					<a href="{% url 'alquiler:registrarAlquiler' %}">
						<button>Alquilar</button>
					</a>
				</td>
			</tr>

				{% endfor%}

				{% else %}
					<h2 class="error">No hay registros de vehiculos</h2>
				
				{% endif %}
		</tbody>
		</div>
	</table>

</div>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<br>
</br>

<div style="text-align:center;">
  <div class="btnn">
                       <button type="submit" style='width:150px; heigth:50'>Agregar Vehiculo</button>
                    </div>

</div>
</body>

</html>