<!DOCTYPE HTML>
<html lang="es">
<head>
   {% load static %}
   <title>Devolucion de vehiculo</title>
   <!-- Meta tag Keywords -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="UTF-8" />
   <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
   />
   <script>
   addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
 }, false);

   function hideURLbar() {
    window.scrollTo(0, 1);
 }
 </script>
 <!-- Meta tag Keywords -->

 <link rel="stylesheet" href="{% static 'vehiculoapp/devoluciondevehiculo/css/registrarVehiculo.css'%}" type="text/css" media="all" />
 <link rel="stylesheet" href="{% static 'vehiculoapp/devoluciondevehiculo/css/style.css'%}" type="text/css" media="all" />
 <!-- Style-CSS -->
 <!-- Font-Awesome-Icons-CSS -->
 <!-- //css files -->
 <!-- web-fonts -->
 <!-- //web-fonts -->
</head>
<body>
   <a href=""> <img src="{% static 'vehiculoapp/devoluciondevehiculo/images/01.jpeg'%}" width="5%" height="5%"> </a>

   <div class="porduct-order-agile">
      <form action="#" method="post">

         <div class="main">
            <div class="form-left-to-w3l">
               <p>DUI</p>
               <input type="text" name="dui" placeholder="" required="required">
            </div>

            <div class="form-left-to-w3l">
               <p>Estado</p>
               <select class="form-control buttom">
                  <option value="">Eliga una opcion
                  </option>
                  <option value="category2">Pagado</option>
                  <option value="category1">No pagado</option>
               </select>
            </div>
         </div>

         <br></br>
         <br></br>

         <div class="main">
            <div class="form-left-to-w3l">
               <p>Nombre</p>
               <input type="text" name="Nombre" placeholder="" required="">
            </div>
            <div class="form-left-to-w3l">
               <p>Feha de alquilado</p>
               <input type="text" name="fechaalquilado" placeholder="" required="">
            </div>
         </div>

         <div class="main">
            <div class="form-left-to-w3l">
               <p>Telefono</p>
               <input type="text" name="telefono" placeholder="" required="">
               <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">
               <p>Fecha de devolucion</p>
               <input type="text" name="fechadedevolucion" placeholder="" required="">
               <div class="clear"></div>
            </div>
         </div>

         <div class="main">
            <div class="form-left-to-w3l">
               <p>Identificador</p>
               <input type="text" name="identificador" placeholder="" required="">
               <div class="clear"></div>
            </div>
            <div class="form-left-to-w3l">
               <p>Seguro</p>
               <input type="text" name="seguro" placeholder="" required="">
               <div class="clear"></div>
            </div>
         </div>



         <div class="main">
            <div class="form-left-to-w3l">
               <p>Marca</p>
               <input type="text" name="marca" placeholder="" required="">
            </div>

            <div class="form-left-to-w3l">
               <p>Estado</p>
               <select class="form-control buttom">
                  <option value="">Eliga una opcion
                  </option>
                  <option value="category2">Buen estado</option>
                  <option value="category1">Mal estado</option>
               </select>
            </div>
         </div>


         <div class="main">
            <div class="form-left-to-w3l">
               <p>Modelo</p>
               <input type="text" name="modelo" placeholder="" required="">
            </div>
         </div>

         <div class="main">

            <div class="form-left-to-w3l">
               <p>Numero de placa</p>
               <input type="text" name="numerodeplaca" placeholder="" required="">
            </div>
         </div>

         <button type="submit" class="btn btn-primary">Finalizar alquiler</button>
         <button type="submit" class="btn btn-primary">Cancelar alquiler</button>    
      </form>  

       

   </body>
   </html>