<!DOCTYPE HTML>
<html lang="es">
   <head>
         {% load static %}
      <title>Editar Vehiculo</title>
      <!-- Meta tag Keywords -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8" />
      <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
         />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!-- Meta tag Keywords -->
      <!-- css files -->
      <link rel="stylesheet" href="{% static 'vehiculoapp/editarvehiculo/css/registrarVehiculo.css'%}" type="text/css" media="all" />
      <!-- Style-CSS -->
      <!-- Font-Awesome-Icons-CSS -->
      <!-- //css files -->
      <!-- web-fonts -->
      <link href="//{% static 'vehiculoapp/editarvehiculo/fonts.googleapis.com/css?family=Ubuntu:400,500'%}" rel="stylesheet">
      <!-- //web-fonts -->
   </head>
   <body>
      <div>
         <a href="registrarvehiculo"><img src="{% static 'vehiculoapp/editarvehiculo/images/flechaIzquierda.png'%}" width="5%" height="5%"></a>
      </div>
      <!-- title -->
      <h1 class="header-w3ls">Editar/Eliminar Vehiculo</h1>
      <!-- //title -->
      <!-- content -->
      <div class="porduct-order-agile"> <!--Inicio del div class = product-order-agile-->
               <form method="post">  <!--Inicio del formulario-->
                  <div class="order-list"> <!--Inicio del div class = order-list-->
                  {% csrf_token %}
                     <table>
                        <tr>
                           <td>Tipo de vehiculo:</td>
                           <td>{{object.tipo_Vehiculo}} <!--Tipo de vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Tipo de transmiciono:</td>
                           <td>{{object.tipo_Transmicion}} <!--Tipo de transimicion--></td>
                        </tr>
                        <tr>
                           <td>Estado:</td>
                           <td>{{object.estado}} <!--Estado del vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Marca:</td>
                           <td>{{object.marca_Vehiculo}} <!--Marca de vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Año:</td>
                           <td>{{object.anio}} <!--Año de vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Número de puertas:</td>
                           <td>{{object.numero_puertas}} <!--Numero de puertas--></td>
                        </tr>
                        <tr>
                           <td>Modelo:</td>
                           <td>{{object.modelo_Vehiculo}} <!--Modelo de vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Color:</td>
                           <td>{{object.color}} <!--Color del vehiculo--></td>
                        </tr>
                        <tr>
                           <td>Capacidad de personas:</td>
                           <td>{{object.capacidad_personas}} <!--Capacidad de personas--></td>
                        </tr>
                        <tr>
                           <td>Capacidad de maletero (litros):</td>
                           <td>{{object.capacidad_maletero}} <!--Capacidad del maletero--></td>
                        </tr>
                        <tr>
                           <td>Placa:</td>
                           <td>{{object.placa}} <!--Numero de placa--></td>
                        </tr>
                        <tr>
                           <td>Tipo de combustible:</td>
                           <td>{{object.tipo_Combustible}} <!--Tipo de combustible--></td>
                        </tr>
                        <tr>
                           <td>Precio diario ($):</td>
                           <td>{{object.precio}} <!--Precio diario del alquiler--></td>
                        </tr>
                        <tr>
                           <td>Funciones:</td>
                           <td>{{object.funciones}} <!--Funciones del vehiculo--></td>
                        </tr>
                     </table>
                  </div> <!--Fin del div class = order-list-->
                  <!--Botones-->
                  <button type="submit" class="btn btn-primary">Eliminar</button>
                  <button type="submit" class="btn btn-primary">Cancelar</button>
               </form> <!--Fin del formulario-->
            </div> <!--Fin del div class = product-order-agile-->
      <!-- copyright -->
      <div class="copy">
         <p>&copy; SivarCar
         </p>
      </div>
      <!-- //copyright -->
   </body>
</html>