<!DOCTYPE HTML>
<html lang="es">
   <head>
         {% load static %}
      <title>Editar Vehiculo</title>
      <!-- Meta tag Keywords -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8" />
      <meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
         />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);
         
         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!-- Meta tag Keywords -->
      <!-- css files -->
      <link rel="stylesheet" href="{% static 'vehiculoapp/editarvehiculo/css/registrarVehiculo.css'%}" type="text/css" media="all" />
      <!-- Style-CSS -->
      <!-- Font-Awesome-Icons-CSS -->
      <!-- //css files -->
      <!-- web-fonts -->
      <link href="//{% static 'vehiculoapp/editarvehiculo/fonts.googleapis.com/css?family=Ubuntu:400,500'%}" rel="stylesheet">
      <!-- //web-fonts -->
   </head>
   <body>
      <div>
         <a href="{% static 'vehiculoapp/editarvehiculo/index.html'%}"><img src="{% static 'vehiculoapp/editarvehiculo/images/flechaIzquierda.png'%}" width="5%" height="5%"></a>
      </div>
      <!-- title -->
      <h1 class="header-w3ls">Editar/Eliminar Vehiculo</h1>
      <!-- //title -->
      <!-- content -->
      <div class="porduct-order-agile">
         <form method="post">
            <div class="order-list">
                  {% csrf_token %}
            
                  <p>Ingresar nuevo vehiculo</p>
                  <div class="main">
                     <div class="form-order">
                        {{form.marca_Vehiculo}}
                     </div>
                     <div class="form-order">
                        {{form.tipo_Vehiculo}}
                     </div>
                     <div class="form-order">
                        {{form.tipo_Transmicion}}
                     </div>
                  </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Año</p>
                  {{form.anio}}
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Número de puertas</p>
                     {{form.numero_puertas}}
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Modelo</p>
                     {{form.modelo_Vehiculo}}
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Color</p>
                     {{form.color}}
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Capacidad de personas</p>
                     {{form.capacidad_personas}}
                     <div class="clear"></div>
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Capacidad de maletero (litros)</p>
                     {{form.capacidad_maletero}}
                     <div class="clear"></div>
                  </div>
               </div>
               <div class="main">
                  <div class="form-left-to-w3l">
                     <p>Placa</p>
                     {{form.placa}}
                     <div class="clear"></div>
                  </div>
                  <div class="form-left-to-w3l">
                     <p>Tipo de combustible</p>
                     {{form.tipo_Combustible}}
                  </div>
               </div>
               <div class="form-group">
                     <p>Precio diario ($)</p>
                     {{form.precio}}
                     <div class="clear"></div>
               </div>
               <div class="form-group">
                     <p>Funciones</p>
                     {{form.funciones}}
                     <div class="clear"></div>
               </div>
            
            </div>
            
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="submit" class="btn btn-primary">Eliminar</button>
            <button type="submit" class="btn btn-primary">Cancelar</button>
         </form>
      </div>
      <!-- copyright -->
      <div class="copy">
         <p>&copy; SivarCar
         </p>
      </div>
      <!-- //copyright -->
   </body>
</html>