<html>
<head>
	{% load static %}
	<title>
		Sivar Car
	</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Item Order Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements"
	/>
	<script>
	addEventListener("load", function () {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.
		(0, 1);
	}
	</script>


	<!--Ruta con .css-->
	<link href="{% static 'vehiculoapp/administrarvehiculo/css/style.css'%}" rel='stylesheet' type='text/css' media="all">
</head>
<body>
	<!--Agregando imagen-->
	<a href=""><img src="{% static 'vehiculoapp/administrarvehiculo/images/flecha.png'%}" width="5%" height="5%"></a>
	<!--Agregando para el resaltado-->
	<div class="porduct-order-agile">

		<div style="text-align:center;">
			<h2 class="error">Resultado Administrar Vehiculo</h2>
		</div>

		{% csrf_token %}
		<div style="text-align:center;">     
		</div>

		<div class="container">


			<table border="1" style="margin: 0 auto;">

				<thead>
					<tr>
						<th>Vehiculo</th>
						<th>Tipo</th>
						<th>Modelo</th>
						<th>Color</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% if vehiculobusq %}
					{% for vehiculobusq in vehiculobusq %}
					<tr>
						<td>{{vehiculobusq.marca_Vehiculo}}</td>
						<td>{{vehiculobusq.tipo_Vehiculo}}</td>
						<td>{{vehiculobusq.modelo_Vehiculo}}</td>
						<td>{{vehiculobusq.color}}</td>
						<td>{{vehiculobusq.estado}}</td>
						<td>
							<a href="{% url 'alquiler:registrarAlquiler' %}">
								<button>Alquilar</button>
							</a>
						</td>
					</tr>

					{% endfor%}

					{% else %}
					<h2 class="error">No hay </h2>

					{% endif %}


				</tbody>
			</div>
		</table>

	<br>
	</br>
</div>

</body>

</html>